		a:link {
		  text-decoration: none; 
		
		}
		
		a:visited {
		   text-decoration: none;
		
		}
	
	    a:hover {
		   text-decoration: underline;	
		   background-color: yellow;
		}
		
		a:active {
		   text-decoration: none;
		}
		
        h1, h3 {
		   font-family: 'Luckiest Guy', cursive;
		   color: red;
		   font-weight: bold;
		   padding-top: 15px;
		}
		
		h2, h4 {
		   color: red;
		   font-weight: bold;
		   padding-top: 2px;
		   }
		   
		#backimage {
			background-color: silver;
		
		}
		
        img {
			display: block;
			margin-right: auto;
			margin-left: auto;
			
		}
				
		
		.hits, th, tr, td {
		   color: white;
		   border: 5px solid black;
		   border-collapse: collapse;
		   text-align: center;
		}
		
		 tbody {
		   font-style: italic;
		   
		}
		
		th {
			background-color: black;
		}
		
		tr:nth-child(even) {
			background-color: silver;
		}
		
		tr:nth-child(odd) {
			background-color: red;
		}
		
		
		ul {
		   color: red;
		   font-style: italic;
		   }
		#iframe {
			width: 100%;
			border: 5px solid red;
		}