@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');

h4 {
	color: red;
}

table.center {
	color: navy;
	margin-left: auto;
	margin-right: auto;
}

#menu {
	text-align: center;
	color: navy;
}

div.header h1 {
	font-family: 'Luckiest Guy', cursive;
	color: red;
	font-weight: bold;
	text-align: center;
	padding-top: 15px;
}

div.footer {
	text-align: center;
	color: white;	
	background-color: navy;
}

#myCarousel {
	background-color: red;
	border: 5px solid navy;
}
	
div.item {
	color: white;
	font-size: 40px;
	text-align: center;
}

.carousel-indicators li {
	visibility: hidden;
}
	


.jumbotron p {
	color: white;
	background-color: navy;
	font-size: 55px;
	text-align: center;
}


div.main {
	background-color: silver;
	border: 5px solid red;
}

a:link {	
background-color: navy;	
}

a:visited {
	color: gray;
}

a:hover {
	font-weight: bold;
}

a:active {
	text-decoration: none;
	
}

label {
	color: navy;
}